<%- include('../partials/header') %>

    <div class="section">
        <div class="container">
            <div class="box">
                <div class="columns is-multiline is-variable is-1">
                    <% items.forEach(item=> { %>
                        <div class="column is-one-quarter">
                            <div class="card ml-1 mb-6 pt-6">
                                <div class="card-image ">
                                    <figure class="image is-128x128 mx-auto">
                                        <img src="<%- item.img %> ">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="is-size-3">
                                        <%= item.name %>
                                    </p>
                                    <p>
                                        <%= item.description %>
                                    </p>
                                    <span class="has-text-weight-semibold">$<%= item.cost %></span>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>